<!-- <!DOCTYPE html>
<div>
<form>
Role:<input type="text" name="role" ng-model="job_Role"><br>
Description:<input type="text" name="description" ng-model="job_Description"><br>
Eligibility<input type="text" name="eligibility" ng-model="eligibility"><br>

<button ng-click="career()">Post</button>
</form>


</div> -->
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div class="container">
  <div ng-app="myApp" ng-controller="dataCtrl">
Enter Technology:  <input type="text"  ng-model="search">&nbsp&nbsp<span class="glyphicon glyphicon-search"></span>
    <hr></hr>
    <table class="table table-striped">
    <tr>
    <th>Job ID</th>
    <th>Role</th>
    <th>Description</th>
    <th>Eligibility Criteria</th>
    
    </tr>
        <tr ng-repeat="resource in names | filter:search">
             <td>{{resource.job_Id}}</td>
            <td>{{ resource.job_Role}}</td>
            <td>{{ resource.job_Description}}</td>
            <td>{{ resource.eligibility}}</td>
            
            
        </tr>    
    </table>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('dataCtrl', function($scope, $http) 
{
    $http.get("http://localhost:8081/chat/viewCareers").then(function (response) {$scope.names = response.data;});
});
</script>
</body>

</html>
